<!-- header section starts -->
<header class="header_section">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
            <button onclick="openNav()">
                <span class="s-1"></span>
                <span class="s-2"></span>
                <span class="s-3"></span>
            </button>
        </div>
        <div id="myNav" class="overlay">
            <div class="menu_btn-style">
                <button onclick="closeNav()">
                    <span class="s-1"></span>
                    <span class="s-2"></span>
                    <span class="s-3"></span>
                </button>
            </div>
            <div class="overlay-content">
                <a  href="/Home/Index">Home</a>
                <a href="/Home/About">About</a>
                <a href="/Home/Portfolio">Portfolio</a>
                <a href="/Home/Team">Team</a>
            </div>
        </div>
        <a class="navbar-brand" href="/Home/Index">
            <span>Photosec</span>
        </a>
        <a href="" class="call_btn">Call Us Now</a>
    </nav>
</header>
<!-- end header section -->
